<div class="full-body">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h4 class="mb-15">
          <strong> تغير الرقم السري واعادة الدخول </strong>
        </h4>

        <form #form="ngForm" role="form" autocomplete="off" (ngSubmit)="submitForm()">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="codee"> الكود</label>
                <!-- <input > -->
                <input class="form-control"  type="text"  [(ngModel)]="addModel.code" placeholder="الكود " name="code" id="code"/> 


                <input class="form-control" type="text" [(ngModel)]="addModel.code" #code='ngModel' id="code" style="opacity:0;position: absolute;" name="code" placeholder="الكود " value="code"  required>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="complain">البريد الإلكترونى</label>
                <input class="form-control en-font" type="email" autocomplete="false" [(ngModel)]="addModel.email" id="email" name="email" disabled placeholder="البريد الإلكترونى" required>
              </div>
              <!-- <p>{{addModel.email}}</p> -->
            </div>
            <div class="col-12">
              <div class="form-group" [class.error]="password.invalid && (password.dirty || password.touched)">
                <label for="password">كلمة المرور</label>
                <input type="password" class="form-control" #password="ngModel" 
                  [(ngModel)]="addModel.password" id="password" name="password" 
                  autocomplete="new-password" placeholder="كلمة المرور"
                  [required]="password2.value != ''"
                  minlength="6" (keydown)='preventSpace($event)'>
                  <span class="error-label">   هذا الحقل مطلوب وأكبر من 6</span>
              </div>
            </div>

            <div class="col-12 col-md-12">
                <div class="form-group"
                  [class.error]="password2.value != password.value && (password2.dirty || password2.touched)">
                  <label for="password2">تأكيد كلمة المرور</label>
                  <input type="password" class="form-control" [(ngModel)]="confirmPassword"
                    #password2="ngModel" id="password2" name="password2" placeholder="تأكيد كلمة المرور"
                    [required]="password.value != ''">
                  <span class="error-label">كلمة المرور غير متطابقة</span>
                </div>
              </div>
            <div class="col-12 mt-15">
              <button type="submit" class="btn btn-primary btn-block h-45 mb-25"> حفظ الرقم الجديد</button>
            </div>
          </div>
        </form>
      </div>

      <p class="mb--50 op-40" style="color:white" center>
        © جميع الحقوق محفوظة,
        <a href="https://4deve.com/" target="_blank" style="color:white">المبرمجين الأربعة</a>
      </p>
    </div>
  </div>
</div>