.schedule-card {
    position: relative;

    .card-body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 150px;
        cursor: pointer;
    }

    > .btn-danger {
        display: none;
        position: absolute;
        top: 15px;
        left: 15px;
    }

    &:hover {
        opacity: .7;

        > .btn-danger {
            display: block;
        }
    }
}

.alert-custom {
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}