<div class="card mb-50">
	<div class="card-body">
		<div class="container">
			<h4 class="mb-35"><strong>إضافة فرع جديد</strong></h4>

			<form #form="ngForm" role="form" autocomplete="off" (ngSubmit)="submitForm()">
				<div class="row">
					<div class="col-12 col-md-6">
						<div class="form-group" [class.error]="name.invalid && (name.dirty || name.touched)">
							<label for="name">الإسم</label>
							<input type="text" class="form-control" [(ngModel)]="addModel.name" #name="ngModel"
								id="name" name="name" placeholder="الإسم" required>
							<span class="error-label">هذا الحقل مطلوب, و لا يمكن أن يبدأ برقم</span>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="form-group" [class.error]="phone.invalid && (phone.dirty || phone.touched)">
							<label for="phone">رقم التليفون</label>
							<input type="text" class="form-control" [(ngModel)]="addModel.phone" #phone="ngModel"
								id="phone" name="phone" placeholder="رقم التليفون" pattern="[0-9]+" required>
							<span class="error-label">هذا الحقل مطلوب, و يجب أن يكون أرقام فقط</span>
							<!--  pattern="^((?:[+?0?0?966]+)?(?:\s?\d{2})(?:\s?\d{7}))" -->
						</div>
					</div>

					<div class="col-12 col-md-6">
						<div class="form-group" [class.error]="city.invalid && (city.dirty || city.touched)">
							<label for="city">المدينة الإفتراضية</label>
							<select-dropdown [items]="_cities" [(ngModel)]="addModel.city" #city="ngModel"
								controlId="city" name="city" placeholder="يرجى إختيار المدينة" required>
							</select-dropdown>
							<span class="error-label">هذا الحقل مطلوب</span>
						</div>
					</div>

					<div class="col-12 col-md-6">
						<div class="form-group"
							[class.error]="profileStart.invalid && (profileStart.dirty || profileStart.touched)">
							<label for="profileStart">رقم بداية الملفات</label>
							<input type="number" min="1" class="form-control" [(ngModel)]="addModel.profileStart"
								#profileStart="ngModel" id="profileStart" name="profileStart" placeholder="البداية"
								pattern="[0-9]+" required>
							<span class="error-label">هذا الحقل مطلوب</span>
							<p *ngIf="fileNum" style="color:red;margin-bottom:0">رقم الملف موجود !</p>

						</div>
					</div>

					<div class="col-12">
						<div class="form-group">
							<label for="type">إنشاء حساب أدمن للفرع؟</label>
							<input type="checkbox" [(ngModel)]="createAdmin" #type="ngModel" id="type" name="type">
						</div>
					</div>
					<div class="col-12 col-md-6" [class.disabled]="!createAdmin">
						<div class="form-group" [class.error]="email.invalid && (email.dirty || email.touched)">
							<label for="email">البريد الإلكترونى</label>
							<input type="email" class="form-control" [(ngModel)]="branchUser.email" #email="ngModel"
								id="email" name="email" placeholder="البريد الإلكترونى" [pattern]="globals.emailPattern"
								[required]="createAdmin" [disabled]='editflag && editId'>
							<span class="error-label">هذا الحقل مطلوب</span>
						</div>
					</div>
					<div class="col-12 col-md-6 mb-20" [class.disabled]="!createAdmin">
						<div class="form-group"
							[class.error]="!editId ? (password.invalid && (password.dirty || password.touched)) : (password.value == '' ? false : password.invalid && (password.dirty || password.touched))">
							<label for="password">كلمة المرور</label>
							<input type="password" class="form-control" [(ngModel)]="branchUser.password"
								pattern="[^-\s]([a-zA-Z0-9_\s-_@$ ]+)?" #password="ngModel" id="password"
								name="password" placeholder="كلمة المرور" minlength="6" [required]="createAdmin">
							<span class="error-label"> الحقل مطلوب و اقل عدد 6 أرقام او أحرف </span>
						</div>
					</div>

					<!-- <div class="col-12 h-60"></div> -->

					<div class="col-12" onclick="return false;">
						<accordion>
							<accordion-group heading="البيانات الإختيارية">
								<div class="row">
									<div class="col-12 col-md-6">
										<div class="form-group"
											[class.error]="address.invalid && (address.dirty || address.touched)">
											<label for="address">العنوان <span
													class="op-50 mr-5">(إختيارى)</span></label>
											<input type="text" class="form-control" [(ngModel)]="addModel.address"
												#address="ngModel" id="address" name="address" placeholder="العنوان"
												maxlength="100">
											<span class="error-label">هذا الحقل مطلوب ولا يتعدي 100 حرف </span>
										</div>
									</div>

									<div class="col-12 col-md-6">
										<div class="form-group"
											[class.error]="numberOfVacation.invalid && (numberOfVacation.dirty || numberOfVacation.touched)">
											<label for="numberOfVacation">اجازات العام <span
													class="op-50 mr-5">(إختيارى)</span></label>
											<input type="number" min="1" class="form-control"
												[(ngModel)]="addModel.numberOfVacation" #numberOfVacation="ngModel"
												id="numberOfVacation" name="numberOfVacation" placeholder="اجازات العام"
												pattern="[0-9]+">
											<span class="error-label">هذا الحقل مطلوب</span>
										</div>
									</div>
									<div class="col-12 col-md-6">
										<div class="form-group"
											[class.error]="numberOfVacationMonth.invalid && (numberOfVacationMonth.dirty || numberOfVacationMonth.touched)">
											<label for="numberOfVacationMonth">اجازات الشهر <span
													class="op-50 mr-5">(إختيارى)</span></label>
											<input type="number" min="1" class="form-control"
												[(ngModel)]="addModel.numberOfVacationMonth"
												#numberOfVacationMonth="ngModel" id="numberOfVacationMonth"
												name="numberOfVacationMonth" placeholder="اجازات الشهر "
												pattern="[0-9]+">
											<span class="error-label">هذا الحقل مطلوب</span>
										</div>
									</div>
									<div class="col-12 col-md-6">
										<div class="form-group"
											[class.error]="incomeLimit.invalid && (incomeLimit.dirty || incomeLimit.touched)">
											<label for="incomeLimit"> متوسط الدخل للفرع <span
													class="op-50 mr-5">(إختيارى)</span></label>
											<input type="number" min="1" class="form-control"
												[(ngModel)]="addModel.incomeLimit" #incomeLimit="ngModel"
												id="incomeLimit" name="incomeLimit" placeholder="متوسط الدخل "
												pattern="[0-9]+">
											<span class="error-label">هذا الحقل مطلوب</span>
										</div>
									</div>
									<div class="col-12 col-md-6">
										<div class="form-group"
											[class.error]="cleanVacation.invalid && (cleanVacation.dirty || cleanVacation.touched)">
											<label for="cleanVacation">ايام عمل بدون اجازات <span
													class="op-50 mr-5">(إختيارى)</span></label>
											<input type="number" min="1" class="form-control"
												[(ngModel)]="addModel.cleanVacation" #cleanVacation="ngModel"
												id="cleanVacation" name="cleanVacation" placeholder="بدون اجازات"
												pattern="[0-9]+">
											<span class="error-label">هذا الحقل مطلوب</span>
										</div>
									</div>
								</div>
							</accordion-group>
						</accordion>
					</div>

					<div class="col-12 mt-30">
						<button class="btn btn-primary" type="submit" [disabled]="form.invalid">
							{{ editId ? 'حفظ التعديل' : 'إضافة الفرع' }}
						</button>
						<button class="btn btn-default mr-10" type="button" (click)="form.reset()">مسح النموذج</button>
						<button *ngIf="editId" class="btn btn-default mr-10 float-left" type="button"
							(click)="cancel()">إلغاء التعديل</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="card">
	<div class="card-body">
		<div class="row mb-35">
			<div class="col-12 col-md-6 mx-auto">
				<input type="text" class="form-control search" [(ngModel)]="filter" (keyup)="filterData()"
					placeholder="بحث بكلمات مفتاحية">
			</div>
			<div class="col-12 col-md-3">
				<select class="form-control" [(ngModel)]="sort" (change)="filterData()">
					<option value="1">ترتيب الأحدث للأقدم</option>
					<option value="2">ترتيب الأقدم للأحدث</option>
				</select>
			</div>
		</div>

		<ngx-datatable [rows]="dataFiltered" [limit]="10" [footerHeight]="50">
			<ngx-datatable-column name="الإسم" prop="name">
				<ng-template let-row="row" ngx-datatable-cell-template>{{ row.branch.name }}</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column name="رقم التليفون" prop="phone">
				<ng-template let-row="row" ngx-datatable-cell-template><a [href]="'tel:' + row.mobile"
						class="en-font">{{ row.branch.phone }}</a></ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column name="العنوان" prop="address">
				<ng-template let-row="row" ngx-datatable-cell-template>{{ row.branch.address }}</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column name="المدينة الإفتراضية" prop="city">
				<ng-template let-row="row" ngx-datatable-cell-template>{{ row.branch.city }}</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column name="رقم بداية الملفات" prop="profileStart">
				<ng-template let-row="row" ngx-datatable-cell-template>{{ row.branch.profileStart }}</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column name="إدارة">
				<ng-template let-row="row" ngx-datatable-cell-template>
					<button class="btn btn-danger mr-5" tooltip="حذف" (click)="deleteModal.show(); deleteId = row.branch._id">
						حذف
					</button>
					<button class="btn btn-primary mr-5" tooltip="تعديل" (click)="edit(row.branch._id)">
						تعديل
					</button>
				</ng-template>
			</ngx-datatable-column>
		</ngx-datatable>
	</div>
</div>

<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"  >
	<div class="modal-dialog modal-sm modalCenter">
		<div class="modal-content">
			<div class="modal-body">
				<h5 class="mb-25">لا يمكنك التراجع عن الحذف, تأكيد؟</h5>

				<button type="button" class="btn btn-default ml-10" (click)="deleteModal.hide(); deleteId = null">
					إلغاء
				</button>
				<button type="button" class="btn btn-danger" (click)="deleteModal.hide(); delete()">
					تأكيد الحذف
				</button>
			</div>
		</div>
	</div>
</div>